<div class="container">

    <div class="card">
      <div class="card-header">
        <h3>Result List</h3>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary" type="button">Search</button>
            </div>
            <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
          </div>
          
      </div>
      <div class="card-body">
        <div class="list-group">
          <a class="list-group-item list-group-item-action" *ngFor="let museum of museums | filter : searchText" routerLink="/detail/{{museum.name}}">
            {{museum.name}}
          </a>
        </div>
      </div>
    </div>
</div>
