<div class="container-fluid">
  <div class="d-flex flex-row flex-nowrap">
      <div class="card card-body">Card</div>
      <div class="card card-body">Card</div>
      <div class="card card-body">Card</div>
      <div class="card card-body">Card</div>
      <div class="card card-body">Card</div>
      <div class="card card-body">Card</div>
      <div class="card card-body">Card</div>
      <div class="card card-body">Card</div>
      <div class="card card-body">Card</div>
      <div class="card card-body">Card</div>
      <div class="card card-body">Card</div>
      <div class="card card-body">Card</div>
      <div class="card card-body">Card</div>
      <div class="card card-body">Card</div>
  </div>
</div>
