<div class="container">
  <div class="row">
    <div class="head">
      <h3>Course: Open Linked Big Data</h3>
      <h3>Team members: <a href="https://github.com/jackiefeen">Jacqueline Neef</a> and <a href="https://github.com/moritzmeister">Moritz
          Meister</a></h3>
    </div>
  </div>
  <div class="row">
    <p>
      This is a project developed at Universidad Politécnica de Madrid for the course "Open Linked Big Data". We used
      open data published by the Ayuntamiento de Madrid on Museums and Monuments, preprocessed it, defined a resource
      naming strategy, built an ontology (reusing the existing ontologies schema.org and vcard) linked it to external
      data (wikipedia and Ayuntamiento de Madrid) and transformed it to RDF linked data.

      The result is a web application in which you can explore the monuments and museums of Madrid, navigate based on
      context and find additional information.
    </p>
  </div>
  <div class="row">
    <h4>Licensing of the Data Source</h4>
    <ol type="1">
      <li>Publisher and the rightsholder</li>
      <p>The publisher and rightsholder of the two datasets that we use is the Ayuntamiento de Madrid.</p>
      <li>License of the data source</li>
      <p>The data sets have an open license, which permits their comercial as well as non-commercial use,
        provided that such use does not constitute a public administrative activity.
        This authorized reuse of the data includes activities such as copying, disseminating, modifying, adapting,
        extracting, rearranging and combining information. </p>
      <p>Original Spanish text: "Las presentes condiciones generales permiten la reutilización de los
        documentos y datos sometidos a ellas para fines comerciales y no comerciales. Se entiende por reutilización el
        uso de documentos que obran en poder del Ayuntamiento de Madrid y de los demás organismos y entidades adscritos
        a
        él, por personas físicas o jurídicas, con fines comerciales o no comerciales, siempre que dicho uso no
        constituya
        una actividad administrativa pública. Por ejemplo, la reutilización autorizada incluye actividades como la
        copia,
        difusión, modificación, adaptación, extracción, reordenación y combinación de la información."</p>
      <p>For more information, please refer to:
        <a href="https://datos.madrid.es/portal/site/egob/menuitem.400a817358ce98c34e937436a8a409a0/?vgnextoid=b4c412b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextchannel=b4c412b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default">
          Datos Abiertos Madrid - Condiciones de Uso </a>
      </p>
      <li>License of the generated dataset</li>
      <p>The generated data set can also be published with an open license that permits the comercial as well as
        non-comercial use.
        However, the general conditions for reuse must be taken into account when publishing the generated dataset.</p>
      <ol type="2">
        <li>It is forbidden to distort the meaning of the information. </li>
        <li>The source of the documents to be reused must be cited. This quotation may be made as follows: "Origin of
          the data: Madrid City Council (or, as the case may be, the administrative body, body or entity in
          question)". </li>
        <li>The date of the last update of the documents to be reused must be mentioned, as long as it was included
          in the original document. </li>
        <li>It may not indicate, imply or suggest that Madrid City Council participates in, sponsors or supports the
          reuse carried out with the information. </li>
        <li>The metadata on the date of update and the applicable conditions for reuse included, where applicable, in
          the document made available for reuse must be kept, not altered or deleted.</li>
        <li>In the case of anonymised information due to personal data protection or other reasons, it is expressly
          forbidden to re-identify people on the basis of these data and other possible, past, current or future
          sources of data and information.</li>
      </ol>
      <p>For more information, please refer to:
        <a href="https://datos.madrid.es/portal/site/egob/menuitem.3efdb29b813ad8241e830cc2a8a409a0/?vgnextoid=108804d4aab90410VgnVCM100000171f5a0aRCRD&vgnextchannel=b4c412b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default">
          Datos Abiertos Madrid - Condiciones generales para la reutilización </a>

      </p>
    </ol>
  </div>

</div>